{% extends 'base.html' %} <!--наследуем шаблон base.html-->

{% block title %}
{{title}}: {{block.super}} <!--наследуем тайтл и добавляем к нему надпись "Список новостей"-->
{% endblock %}

{% block sidebar %} <!--наследуем переопределяем сайдбар-->
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %} <!--наследуем и переопределяем контент-->
{{ mixin_prop }}
<!-- Кол-во колонок для новостей -->
{% for item in news %} <!--выводим новости с помощью цикла-->
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a><!--делаем кликабельным название категории-->
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %} <!--если у статьи есть фото - выводим, иначе ничего не выводим-->
            <img src="{{ item.photo.url }}" alt="Фото статьи" width="350" class="mr-3">
            {% endif %}
            <div class="media-body">
                <!--чередование цветов заголовка-->
                <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|linebreaks|truncatewords:60 }}</p>
                <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{ item.created_date|date:"d-m-Y H:i" }} <!-- Форматированный вывод времени создания статьи -->
    </div>
</div>
{% endfor %}
{% endblock %}