{% extends 'base.html' %} <!--наследуем шаблон base.html-->

{% block title %}
{{news_item.title}}: {{block.super}} <!--наследуем тайтл новости и выводим его"-->
{% endblock %}

{% block sidebar %} <!--наследуем переопределяем сайдбар-->
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %} <!--наследуем и переопределяем контент-->
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news.item.category.get_absolute_url }}">{{ news.item.category }}</a><!--делаем кликабельным название категории-->
    </div>
    <div class="card-body">
            {% if item.photo %} <!--если у статьи есть фото - выводим, иначе ничего не выводим-->
            <img src="{{ news.item.photo.url }}" alt="Фото статьи" width="350" class="float-left mr-3">
            {% endif %}
                <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ news.item.title }}</h5> <!--чередование цветов заголовка-->
                <p class="card-text">{{ news.item.content|safe|linebreaks }}</p>

    </div>
    <div class="card-footer text-muted">
        {{ news.item.created_date|date:"d-m-Y H:i" }} <!-- Форматированный вывод времени создания статьи -->
    </div>
</div>
{% endblock %}